version : '3.7'

services:
    app:
        build:
            context: ./server
            args:
                BUILD_ENV: "${BUILD_ENV:-production}"
                OVERCOOKED_BRANCH: "${OVERCOOKED_BRANCH:-master}"
                GRAPHICS: "${GRAPHICS:-overcooked_graphics_v2.2.js}"
            shm_size: "5gb"
        shm_size: "5gb"
        network_mode: "host"  # Use host network mode
        environment: 
            FLASK_ENV: "${BUILD_ENV:-production}"
            HOST: "0.0.0.0"  # Ensure the Flask app binds to all interfaces
            PORT: "5000"     # Define the port for Flask
        #ports:
            #- "80:5000"
        volumes:
            - data:/app/data
volumes:
  data:
        
